ui_base
ui_tab
ui_group
ui_iframe
worldmap
string
ui_audio
ui_ui_control
ui_template

    "node-red-contrib-sqlitedb": "~1.5.1",
    "node-red-contrib-string": "~1.0.0",
    "node-red-contrib-web-worldmap": "~2.31.0",
    "node-red-dashboard": "~3.2.0",
    "node-red-node-sqlite": "~1.0.3",
    "node-red-node-ui-iframe": "~0.2.1"
